<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio</title>
    <link rel="stylesheet" href="../css/style.css" />
     <link rel="icon" href="../assets/icons/logo_escuela_piano_f_negro.svg" />
  </head>
 <body>
    <header>
      <nav class="navbar">
        <img src="../assets/icons/logo_escuela_piano_f_negro.webp" alt="Logo" class="icono"/>
        <a href="../index.html">Inicio</a>
        <a href="../views/portafolio.html" class="activo">Portafolio</a>
        <a href="../views/modalidad.html">Modalidad</a>
        <a href="../views/presupuesto.html">Presupuesto</a>
        <a href="../views/contacto.html">Contacto</a>
      </nav>
    </header>
 
   <main>
   <h1>Portafolio</h1>
    <a href="../index.html">Volver</a>
    <img
            src="../assets/images/presencial_1.webp"
            alt="Conversando">
            <img
            src="../assets/images/presencial_2.webp"
            alt="Niña escribiendo sobre el piano">
            <img
            src="../assets/images/presencial_3.webp"
            alt="Juego de instrumentos musicales">
            <img
            src="../assets/images/presencial_4.webp"
            alt="Piano vertical">
            <img
            src="../assets/images/presencial_5.webp"
            alt="Teclado">
  </main>
 </body>          
 <footer>
    <div class="footer">
        <div class="footer-redes">
            <a href="https://instagram.com/yureniasantana_" target="_blank" rel="noopener">
                <img src="../assets/icons/instagram-logo-facebook-2-fondo_negro_svgrepo-com.svg" alt="Instagram" class="icono-footer">
            </a>
            <a href="https://x.com/YureniaSantana" target="_blank" rel="noopener">
                <img src="../assets/icons/X_icon.svg" alt="X (Twitter)" class="icono-footer">
            </a>
            <a href="https://tiktok.com/@yureniasantana" target="_blank" rel="noopener">
                <img src="../assets/icons/social-tiktok-svgrepo-com_fondo_negro.svg" alt="TikTok" class="icono-footer">
            </a>
            <a href="https://youtube.com/@yureniasantana" target="_blank" rel="noopener">
                <img src="../assets/icons/youtube-2-logo-svgrepo-com_fondo_negro.svg" alt="YouTube" class="icono-footer">
            </a>
            <a href="https://facebook.com/yureniasantana" target="_blank" rel="noopener">
                <img src="../assets/icons/social-facebook-svgrepo-com_fondo_negro.svg" alt="Facebook" class="icono-footer">
            </a>
        </div>
        <p class="footer-direccion">Calle San Vicente 5, Valencia, España</p>
        <a href="#" class="footer-legal">Aviso legal</a>
        <p>&copy; 2026 Yurenia Santana</p>
</html>
